node_modules
.DS_Store
dist
.turbo
.idea
.vscode/*.code-workspace
coverage
pnpm-lock.yaml
apps/client/dist
apps/client/unpackage
apps/server/dist
apps/client/env/.env*
!apps/client/env/.env.example
!apps/client/env/.env.development.example
!apps/client/env/.env.production.example
apps/server/env/.env*
!apps/server/env/.env.example
!apps/server/env/.env.development.example
!apps/server/env/.env.production.example
apps/server/.mysql
apps/server/.runtime
