VITE_APP_TITLE=植愈日记
VITE_APP_PORT=9000
VITE_APP_PUBLIC_BASE=/
VITE_SERVER_BASEURL=http://localhost:3000/api
VITE_APP_PROXY_ENABLE=true
VITE_APP_PROXY_PREFIX=/api
VITE_DELETE_CONSOLE=false
VITE_STORAGE_AES_KEY=replace-with-local-aes-key
VITE_STORAGE_NAMESPACE=florist
VITE_UNI_APPID=__UNI__FLORIST
VITE_WX_APPID=wx0000000000000000
